* {
    box-sizing: border-box;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #d6ccc2;
}

.navbar {
    background-color: #e3d5ca;
}

.logo {
    font-weight: 900;
    font-size: x-large;
    margin-bottom: 0;
}

.logo-img {
    width: 30px;
    height: 30px;
}

.nav-link {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 900;
}

.nav-link:hover {
    color: #dda15e;
}

.carousel {
    margin-bottom: 4rem;
  }
  
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  
  .carousel-item {
    height: 35rem;
  }

 .col {
    text-align: center;
 }

