.home{
    background-image: url(./img/fondoHomeSombreado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.containerLogo {
    background: rgba(41, 116, 76, 0.504);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 70px;
}

.containerLogo img {
    width: 110%;
}


.fraseHome {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    font-weight: 900;
    color: white;
}