.menu {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./img/smoothie-bowl-fotor-20241213164219.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100px;
}

.album {
    background-color: burlywood;
    height: 100%;
}

.banner {
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.alergenos {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
}

.imgAlergenos {
    width: 30px;
}

.listaAlergenos {
    color: black;
    text-shadow: none;
    font-weight: 700;
}

.texto1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: 900;
    font-size: 70px;
}

.texto2 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.tituloCarta {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-weight: 500;

}

.subtituloCarta {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-weight: 200;
    font-size: 15px;
}

.logoVegan {
    width: 25px;
}

.imagenCarta {
    width: auto;
    height: 300px;
    object-fit: cover;
}

@media (max-width: 767px) {
    .menu {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url(./img/smoothie-bowl-fotor-20241213164219.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        height: 590px;
    }

    .texto1 {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        font-weight: 900;
        font-size: 50px;
    }
    
    .texto2 {
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
        font-size: 20px;
    }
}

