
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Pacifico&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegurar que padding y bordes se calculen dentro del ancho/alto */
}

/* Asegurar que el fondo y el contenido ocupen toda la pantalla */
body {
    height: 100%;
}

/* Alinea los elementos en el contenedor con Flexbox */
.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para que el menú se alinee a la derecha en pantallas grandes */
.navbar-nav {
    margin-left: auto; /* Esto asegura que los enlaces estén alineados a la derecha */
}

/* Opcional: estilos para el menú en móviles */
.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}


.logoText {
    color: aliceblue;
    padding: 5px;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 30px;
    margin: 0;
}

.img-logo {
    width: 80px;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-size:17px;
    font-weight: 700;
    margin: 10px;
}

.nav-link:hover {
    color: rgb(118, 118, 118);
}

.reservation {
    font-weight: 700;
}

@media (max-width: 767px) {
    .cardLatte {
        display: flex;
        margin: 5px;
    }

    .latteBody {
        display: flex;
        flex-direction: column;
    }
}
